@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

body {
    font-family: 'Nanum Gothic', serif;
    padding-top: 55px;
}
h1, h2 {
	font-size:24px !important;
	font-weight: bold;
}
.content {
	/*padding-top:10px !important;*/
	text-align: center
}
.needspace {
	margin-bottom: 30px;
}
.center_div{
    margin: 0 auto;
    width:95% /* value of your choice which suits your alignment */
}

.lead {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

form {
	padding-top:15px
}

.center_div{
    margin: 0 auto;
    width:95% /* value of your choice which suits your alignment */
}

.margin-bottom {
margin-bottom:10px;
}
.margin-top {
margin-top:0px;
}

ul {
	margin-top:15px;
	display: inline-block;
  text-align:left;
}

.info{
	padding:10px;
}
.list{
	font-size:0.8em;
}
.time{
	font-size:0.8em;
}
p.footer {
display:inline-block;
margin-bottom: 50px
}
