<!DOCTYPE html>
  <head>
{% include 'header.html' %}
<link href="/static/telegram-style.css" rel="stylesheet" />
<head>
<body>
  {% include 'navbar.html' %}
  <!-- Modal -->
<div class="container content center_div">
<h1>주기적인 서버공격으로 부터 차단되었습니다.<br><br> 만약 정상적인 접근이였다면 <a href="mailto:kaunotifier@gmail.com">kaunotifier@gmail.com</a>으로 연락주세요.</h1>
    <div class="container">
     <div class="row">
      <div class="span12">
       <div id="footer">
         <p class="pull-right"><a href="#">Back to top</a></p>
         <p class="text-muted" style="text-align: left">© Copyright Since 2016 kaunotifier All Rights reserved.</p>
       </div>
    </div>
 </div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</body>