<!DOCTYPE html>
  <head>
  {% include 'header.html' %}
  <link href="/static/index-style.css" rel="stylesheet" />
  <script>function validateForm() {
    var dept = document.forms["contact"]["dept"].value;
    var email = document.forms["contact"]["email"].value;
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (dept == null || dept == "") {
    alert("학부(과) 정보를 입력해주세요^^");
    return false;
    }
    else if (email == null || email == "") {
        alert("이메일을 입력해주세요 ^^");
        return false;
    }
    else if (re.test(email) == false){
        alert("올바른 이메일을 입력해주세요 ^^");
    return false;
   }
    }
  </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
  <body>
    {% include 'navbar.html' %}

    <!-- Modal -->
  <div class="container content center_div">
      <img src="/static/logo.gif" width="200" height="auto">
      <p class="lead">기숙사 신청 공지를 놓친 적이 있으신가요?</p>
      <p class="lead">중요한 공지를 기다리고 계신가요?</p>
      <p class="lead"><a href="/telegram">텔레그램</a>으로 공지사항 새 글을 실시간으로 받아보세요.</p>
      <p class="lead">또는,</p>
      <p class="lead"><b><u>매일 오후 9시</u></b>, 학교 공지사항에 새로운 글이 있으면 이메일로 알려드립니다.</p>
      <p class="lead"><font style="font-weight: bold" color="red"> (새 글이 없으면 이메일을 보내지 않습니다.)</font></p>
      <h4 style="padding-top: 20px">아래와 같은 공지를 알려드립니다.</h4>
      <ul class="board lead">
        <li>일반 공지</li>
        <li>학사 공지</li>
        <li>학부(과)별 공지(공지 확인 시 <u>로그인</u>이 필요할 수 있습니다.)</li>
      </ul>
      <p class="lead">*발송되는 메일 하단의 개별 링크를 통해 알림 게시판 추가/제거 설정을 할 수 있습니다.*</p>
        <form name ="contact" action="/subscribe" onsubmit="return validateForm()" method="POST" role="form" class='form-horizontal'>
          <div class="form-group row">
            <div class="col-md-8 col-md-offset-2">
              <h1>이메일 구독 신청</h1>
              <select name="dept" class="form-control margin-bottom" required>
                <option value="" selected> 학부(과) 선택 (필수)</option>
                <option value="AME">항공우주 및 기계공학부</option>
                <option value="ETC">항공전자정보공학부</option>
                <option value="SOF">소프트웨어학과</option>
                <option value="AVS">항공재료공학과</option>
                <option value="ATL">항공교통물류학부</option>
                <option value="AEO">항공운항학과</option>
                <option value="BUS">경영학부</option>
                <option value="FRM">자유전공학부</option>
              </select>
              <input name="email" type="text"  placeholder="이메일 (필수) - @kau.kr 이외의 계정 권장"  class="form-control margin-bottom" required/>
              <textarea name="comment" rows="5" placeholder="하고 싶은 말"  class="form-control margin-bottom"></textarea>
              <!--<p class="alert alert-info margin-bottom"><b>신청과정을 더욱 더 안전하게 하기 위해 잠시 신청을 중단하고 빠른 시일 내로 돌아오겠습니다! <br> (기 신청자 분들께는 공지 알림이 정상적으로 발송 됩니다.)</b></p>-->
              <div class="g-recaptcha col-md-13 col-md-offset-3 margin-bottom" data-sitekey="6LefLRcUAAAAAFM_osCYRN7ePc3nwDNSmyLkaf6L"></div>
                <button type="submit" id="register_submit" class="btn btn-lg btn-primary btn-block">신청하기 | <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
                <div class="col-md-13" style="text-align: center">
                <p class="alert alert-danger margin-bottom"><b>알림 메일을 받지 못했다면 <u>스팸함</u>을 꼭 확인해주세요.</b></p>
                {% if total_subscribers %}
                <p class="alert alert-info margin-bottom">
                  <b>현재 <u>{{ total_subscribers }}</u>명이 구독중입니다.</b>
                </p>
                {% endif %}
                <p class="alert alert-warning"><b>기타문제가 있으면 <a href="mailto:kaunotifier@gmail.com">kaunotifier@gmail.com</a>으로 연락주세요.</b></p>
            </div>
            </div>
            </div>
          </form>
        </div>
          <div class="container">
               <div class="row">
                <div class="span12">
                 <div id="footer">

                   <p class="pull-right"><a href="#">Back to top</a></p>
                   <p class="text-muted" style="text-align: left">© Copyright Since 2016 kaunotifier All Rights reserved.</p>


                 </div>
              </div>
           </div>
          </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
