<!DOCTYPE html>
  <head>
{% include 'header.html' %}
<link href="/static/telegram-style.css" rel="stylesheet" />
<head>
<body>
  {% include 'navbar.html' %}
  <!-- Modal -->
<div class="container content center_div">
  <div class="fb-post margin-bottom" data-href="https://www.facebook.com/kaunotifier/posts/700722883442861" data-width="450" data-show-text="true"><blockquote cite="https://www.facebook.com/kaunotifier/posts/700722883442861" class="fb-xfbml-parse-ignore"><p>[&#xc774;&#xc81c; iOS, &#xc548;&#xb4dc;&#xb85c;&#xc774;&#xb4dc;, &#xb370;&#xc2a4;&#xd06c;&#xd0d1;&#xc73c;&#xb85c; &#xc2e4;&#xc2dc;&#xac04; &#xacf5;&#xc9c0;&#xb97c; &#xbc1b;&#xc544;&#xbcf4;&#xc138;&#xc694;]

&#xd154;&#xb808;&#xadf8;&#xb7a8;&#xc740; &#xb192;&#xc740; &#xbcf4;&#xc548;&#xc131;&#xc73c;&#xb85c; &#xc720;&#xba85;&#xd558;&#xae30;&#xb3c4; &#xd558;&#xc9c0;&#xb9cc; &#xc0ac;&#xc6a9;&#xc790;&#xac00; &#xc27d;&#xac8c; &#xd544;&#xc694;&#xd55c; &#xae30;&#xb2a5;&#xc744; &#xd558;&#xb294; &#xbd07;&#xc744; &#xb9cc;&#xb4e4; &#xc218; &#xc788;&#xae30;&#xb85c;&#xb3c4; &#xc720;&#xba85;&#xd569;&#xb2c8;&#xb2e4;.

&#xc774;&#xc5d0; &#xacf5;&#xc9c0;&#xc54c;&#xb9ac;&#xbbf8;&#xb294; &#xc624;&#xd6c4; 9&#xc2dc;&#xc5d0;...</p><a href="https://www.facebook.com/kaunotifier/">한국항공대 공지 알리미</a>에 의해 게시 됨&nbsp;<a href="https://www.facebook.com/kaunotifier/posts/700722883442861">2017년 1월 16일 월요일</a></blockquote></div>
<div class="container">
     <div class="row">
      <div class="span12">
       <div id="footer">
         <p class="pull-right"><a href="#">Back to top</a></p>
         <p class="text-muted" style="text-align: left">© Copyright Since 2016 kaunotifier All Rights reserved.</p>
       </div>
    </div>
 </div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
</html>
